<div class="formulario">
  <h2 class="titulo">Actualizar Contraseña</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)">
    <div class="mb-4">
      <input
        type="password"
        id="password"
        placeholder="Nueva Contraseña"
        formControlName="password"
        required
      />
      <div *ngIf="f.password.touched && f.password.invalid" class="invalid">
        <p *ngIf="f.password.errors!.required">* La contraseña es requerida.</p>
      </div>
    </div>
    <div class="mb-4">
      <input
        type="password"

        id="password2"
        placeholder="Confirma Contraseña"
        formControlName="password_confirmation"
        required
      />
      <p *ngIf="passwordForm.hasError('notSame')" class="invalid">
        * Las contraseñas no coinciden.
      </p>
    </div>

    <div class="d-grid gap-2">
      <button  type="submit" id="btn_iniciar">Actualizar</button>
    </div>
  </form>
</div>
