nav{
    width: 100%;
    padding: 10px;
    position: fixed;    
}

#navbar-container{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
}

span{
    color: var(--purpleG);
    font-size: 40px;
    transition: transform .25s
}

span:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.25);
}
