<nav>
  <div class="d-flex justify-content-around align-items-center p-3" id="navbar-container">
    <span
      routerLink="/profile"
      [ngClass]="
        outlinedOne ? 'material-icons' : 'material-icons-outlined'
      "
      (mouseenter)="outlinedOne = true"
      (mouseleave)="outlinedOne = false"
    >
      account_circle
    </span>
    <span
      [ngClass]="
      outlinedTwo ? 'material-icons' : 'material-icons-outlined'
      "
      (mouseenter)="outlinedTwo = true"
      (mouseleave)="outlinedTwo = false"
    >
      people
    </span>
    <img src="/assets/logo.png" alt="logo" id="logo"  routerLink="/home">
    <span
      [ngClass]="
        outlinedThree ? 'material-icons' : 'material-icons-outlined'
      "
      (mouseenter)="outlinedThree = true"
      (mouseleave)="outlinedThree = false"
    >
      question_answer
    </span>
    <span
      class="material-icons"
      (mouseenter)="changeFavorite()"
      (mouseleave)="changeFavorite()"
    >
      {{ favorite }}
    </span>
  </div>
</nav>
