<app-navbar></app-navbar>
<div class="row" id="container-home" infinite-scroll (scrolled)="onScrollDown()" > 
  <div class="col-lg-3 d-none d-lg-block fixed">
    <p id="subtitle">Buscar</p>
    <app-search></app-search>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <div class="d-flex justify-content-between">
      <p id="title-create-publication">Mis Amigos</p>
      <button id="button-request">Solicitudes</button>
    </div>
    <app-friends></app-friends>
    <app-request></app-request>
  </div>
  <div class="col-lg-3 d-none d-lg-block fixed offset-lg-9">
    <p id="subtitle">Contactos</p>
    <app-contacts></app-contacts>
  </div>
</div>