<div class="p-4" id="container-create-post">
    <div class="d-flex">
        <img 
        class="img-fluid "
        src="https://i.pinimg.com/564x/47/89/37/478937760d6ee8218729f32b7255f070.jpg"        
        alt="profile-image"
        id="profile-image"
        >
        <input type="text" name="text-post" id="text-post" placeholder="Expresa tus pensamientos...">
    </div>
    <div class="d-flex justify-content-end">
        <button id="btn-select-img">
            <span class="material-icons">
            image
            </span>
        </button>
        <button id="btn-create-post">
            Publicar
        </button>
    </div>
</div>