
#container-create-post{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
    border-radius: 15px;
}
#profile-image{
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
#text-post{
    width: 100%;
    border: 1px solid gray;
    font-family: 'Arial';
    resize: none;
    display: flex;
    padding: 15px;
    overflow-y: hidden;
    height: 50px;
    border-radius: 1.50rem 1.50rem 1.50rem 1.50rem;
}
#text-post:focus{
    outline: none;
}
#btn-select-img{
    border: 1px solid var(--pinkG);
    background-color: transparent;
    color: var(--pinkG);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
}
#btn-select-img:hover{
    background-color: var(--pinkG);
    color: white;
}
#btn-create-post{
    margin-top: 15px;
    border: 1px solid var(--pinkG);
    color: var(--pinkG);
    background-color: transparent;
    font-family: 'Arial Rounded MT';
    border-radius: 100px;
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
#btn-create-post:hover{
    background-color: var(--pinkG);
    color: white;
}
#labe-select-image{
    cursor: pointer;
}
#container-img{
    margin-top: 20px;
    margin-bottom: 10px;
}
#img-post{
    width: 100%;
    border-radius: 7.5px;
}
.btn-photo{
    background: transparent;
    color: var(--pinkG);
    font-family: 'Arial Rounded MT';
    border: none;
}
mat-spinner{
    margin-top: 15px;
    margin-left: 10px;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--pinkG);
}
::ng-deep .swal2-icon.swal2-success [class^=swal2-success-line]{
    background-color: var(--pinkG);
}

::ng-deep .swal2-icon.swal2-error {
    border-color: var(--pinkG) !important;
}

::ng-deep .swal2-icon.swal2-success .swal2-success-ring{
    border: 0.25rem solid rgba(255, 31, 68, 0.514);
}

::ng-deep .swal2-styled.swal2-confirm{
    border-radius: 100px;
    background-color: var(--pinkG);
    outline: none;
    border: none;
    font-family: 'Arial Rounded MT';
}


::ng-deep .swal2-styled.swal2-confirm:focus{
    outline: none;
}

::ng-deep .swal2-container.swal2-center>.swal2-popup{
    border-radius: 15px;
}

::ng-deep .mat-h2, .mat-title, .mat-typography h2{
    font-family: 'Arial Rounded MT' !important;
    margin: 0px;
}