<div id="general" class="container">
  <div class="d-flex justify-content-between w-100 col-lg-12 d-second">
    <div class="d-flex col-lg-6">
      <p class="p-friends">10 amigos</p>
    </div>
    <div class="d-flex col-lg-6 justify-content-end">
      <button class="b-request" type="submit" routerLink="/request">
        Solicitudes
      </button>
    </div>
  </div>
  <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓AQUI DEBAJO COMIENZA EL *NGFOR↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
  <div
    class="d-friendsList d-flex flex-row p-0"
    *ngFor="let ide of lista; let indexOfelement = index"
  >
    <div class="col-2 p-lg-0 d-userImage">
      <div class="d-userImage2">
        <img
          class="img-fluid img-user"
          src="../../../assets/friends/11HISOKA.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-6 d-userName">
      <p class="p-userName">Usuario Angel</p>
    </div>
    <div class="col-2 d-flex justify-content-center d-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="45.855"
        height="40.95"
        viewBox="0 0 37.855 30.95"
        id="icono"
        (click)="goToChat(indexOfelement)"
      >
        <path
          id="ic_textsms_24px"
          d="M36.07,2H5.786C3.7,2,2.019,3.393,2.019,5.095L2,32.95l7.571-6.19h26.5c2.082,0,3.786-1.393,3.786-3.095V5.095C39.855,3.393,38.152,2,36.07,2ZM15.249,15.927H11.464V12.832h3.786Zm7.571,0H19.035V12.832h3.786Zm7.571,0H26.606V12.832h3.786Z"
          transform="translate(-2 -2)"
          fill="#e71f76"
        />
      </svg>
    </div>
    <div class="col-2 d-flex justify-content-center d-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40.317"
        height="45.95"
        viewBox="0 0 24.317 30.95"
        id="icono2"
      >
        <path
          id="ic_delete_24px"
          d="M6.737,30.511a3.467,3.467,0,0,0,3.474,3.439h13.9a3.467,3.467,0,0,0,3.474-3.439V9.878H6.737ZM29.317,4.719H23.238L21.5,3H12.816L11.079,4.719H5V8.158H29.317Z"
          transform="translate(-5 -3)"
          fill="#e71f76"
        />
      </svg>
    </div>
  </div>
  <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑AQUI TERMINA EL *NGFOR  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
</div>
