
<div id="container-requests">
  <div class="container" id="general" *ngFor="let _ of [0,1,2,3,5,6,7,8,9,10]">
    <!--<div *ngFor="let req of request; let indexOfelement = index">
      <p>{{ req.id }}</p>
      <p (click)="acceptFriend(req.id)">asas</p>
      <p (click)="declineFriend(req.id)">res</p>
    </div>-->
    <div class="d-flex col-lg-6">
    </div>
    <div class="d-block d-requesList">
      <div class="d-friendsList d-flex flex-row p-0">
        <div class="col-2 p-lg-0 d-userImage">
          <img
            class="img-fluid img-user"
            src="../../../assets/friends/den1.jpeg"
            alt=""
          />
        </div>
        <div class="col-6 d-userName align-items-center">
          <p class="p-userName">Denisse Medina</p>
        </div>
      </div>
      <div class="d-flex justify-content-end p-0 d-buttons">
        <button id="btn-accept" class="b-request p-0" type="submit">
          Aceptar
        </button>
        <button id="btn-decline" class="b-request p-0" type="submit">
          Rechazar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-2 d-flex justify-content-center d-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="45.855"
            height="40.95"
            viewBox="0 0 37.855 30.95"
          >
            <path
              id="ic_textsms_24px"
              d="M36.07,2H5.786C3.7,2,2.019,3.393,2.019,5.095L2,32.95l7.571-6.19h26.5c2.082,0,3.786-1.393,3.786-3.095V5.095C39.855,3.393,38.152,2,36.07,2ZM15.249,15.927H11.464V12.832h3.786Zm7.571,0H19.035V12.832h3.786Zm7.571,0H26.606V12.832h3.786Z"
              transform="translate(-2 -2)"
              fill="#e71f76"
            />
          </svg>
        </div>
    <div class="col-2 d-flex justify-content-center d-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40.317"
            height="45.95"
            viewBox="0 0 24.317 30.95"
          >
            <path
              id="ic_delete_24px"
              d="M6.737,30.511a3.467,3.467,0,0,0,3.474,3.439h13.9a3.467,3.467,0,0,0,3.474-3.439V9.878H6.737ZM29.317,4.719H23.238L21.5,3H12.816L11.079,4.719H5V8.158H29.317Z"
              transform="translate(-5 -3)"
              fill="#e71f76"
            />
          </svg>
        </div>-->
