*{
    font-family: Arial;
    padding-top: 1%;
}
.d-second{
    margin-bottom: 2%;
}
.p-request{
    font-size:1.5rem;
    color: #3E2669;
    
}
.b-request{
    font-size:1.5rem;
    color: #E71F76;
    border-radius: 50px;
    width: 170px;/* 
    height: fit-content; */
    border: 2px #E71F76 solid;
    transition: .4s;
    font-family: 'Arial Rounded MT';
}
.b-request:hover{
    color: #fff;
    background-color: #E71F76;
    transition: .4s;
    cursor:pointer;
}
.b-request:active{
    transform: translateY(4px);
}
.d-userImage{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.img-user{
    width:fit-content;
    object-fit: cover;
    border-radius: 100px;
    transition: .5s;
}
.p-userName{
    color: #3E2669;
    font-size: 2.0rem;
    transition: .5s;
    
    margin-left: 7%;
}
.d-userName{
    padding-top: 2%;
}
.d-icon{
    padding-top: 3%;
    
}
.p-userName{
    width: fit-content;
}
.p-userName:hover{
    cursor: pointer;
    transform:translateY(3px);
    transition: .5s;
}
.p-userName:active{
    transform: translateY(5px);
}
.img-user:hover{
    cursor: pointer;
    transform:translateY(3px);
    transition: .5s;
}
.img-user:active{
    transform: translateY(5px);
}
.d-requesList{
    margin-top: 6%;
}
#btn-accept{
    margin-right: 5%;
    height: 40px;
}
.d-buttons{
    padding-bottom: 2% !important;
    border-bottom: 2px #5A5858 solid;
}
/*MOTO G4  360PX TO 640PX*/
@media (min-width:360px) and (max-width:640px) {
    .p-request{
        font-size:1rem;
    }
    .b-request{
        font-size:0.9rem !important;
        width: 25% !important;
    }
    .d-friendsList {
        width: 100%;
        
    }
    .d-userName{
       padding-top: 5% !important;}
    .p-userName{
        font-size: 1rem;
    }
    .d-userImage{
        display: flex;
        justify-content: center;
        width: 70px;
        height: 60px;
        border-radius: 50%;
    }
    .p-userName{
        width: fit-content;
    }
    .p-userName:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .p-userName:active{
        transform: translateY(5px);
    }
    .img-user:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .img-user:active{
        transform: translateY(5px);
    }
    .b-request{
        font-size:1.5rem;
        color: #E71F76;
        border-radius: 50px;
        width: 170px;/* 
        height: fit-content; */
        border: 2px #E71F76 solid;
        transition: .4s;
        font-family: 'Arial Rounded MT';
        background-color: #fff;
    }
    .b-request:hover{
        color: #E71F76;
        background-color: #fff;
        transition: .4s;
        cursor:pointer;
    }
    .b-request:active{
        transform: translateY(4px);
        background-color: #E71F76;
        color: #fff;
    }
}
/*IPAD MINI  768PX TO 1024PX*/
@media (min-width:768px) and (max-width:1024px) {
    .p-userName{
        width: fit-content;
    }
    .p-userName:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .d-userName{
        padding-top: 4%;
    }
    .p-userName:active{
        transform: translateY(5px);
    }
    .d-userImage{
        display: flex;
        justify-content: center;
        width: 70px;
        height: 80px;
        border-radius: 50%;
    }
    .img-user:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .img-user:active{
        transform: translateY(5px);
    }
    .b-request{
        font-size:1.5rem;
        color: #E71F76;
        border-radius: 50px;
        width: 170px;/* 
        height: fit-content; */
        border: 2px #E71F76 solid;
        transition: .4s;
        font-family: 'Arial Rounded MT';
        background-color: #fff;
    }
    .b-request:hover{
        color: #E71F76;
        background-color: #fff;
        transition: .4s;
        cursor:pointer;
    }
    .b-request:active{
        transform: translateY(4px);
        background-color: #E71F76;
        color: #fff;
    }
}
/*IPHONE 5/SE  320PX TO 568PX*/
@media (min-width:320px) and (max-width:568px) {
    .p-request{
        font-size:1rem;
    }
    .b-request{
        font-size:0.7rem !important;
        width: 25% !important;
    }
    .d-friendsList {
        width: 100%;
    }
    .d-userImage{
        display: flex;
        justify-content: center;
        width: 60px;
        height: 50px;
        border-radius: 50%;
    }
    .d-userName{
       padding-top: 4%;}
    .p-userName{
        font-size: 1rem;
    }
    .img-user{
        width: 80%;
    }
    .p-userName{
        width: fit-content;
    }
    .p-userName:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .p-userName:active{
        transform: translateY(5px);
    }
    .img-user:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .img-user:active{
        transform: translateY(5px);
    }
    .b-request{
        font-size:1.5rem;
        color: #E71F76;
        border-radius: 50px;
        width: 170px;/* 
        height: fit-content; */
        border: 2px #E71F76 solid;
        transition: .4s;
        font-family: 'Arial Rounded MT';
        background-color: #fff;
    }
    .b-request:hover{
        color: #E71F76;
        background-color: #fff;
        transition: .4s;
        cursor:pointer;
    }
    .b-request:active{
        transform: translateY(4px);
        background-color: #E71F76;
        color: #fff;
    }
}
@media (min-width:414px) and (max-width:736px) {
    .d-userImage{
        display: flex;
        justify-content: center;
        width: 60px;
        height: 55px;
        border-radius: 50%;
    }
    .d-userName{
        padding-top: 4% !important;}
}
/*SURFACE DUO  540PX TO 720PX*/
@media (min-width:540px) and (max-width:720px) {
    .p-request{
        font-size:1rem;
    }
    .b-request{
        font-size:0.7rem !important;
        width: 20% !important;
    }
    .d-userImage{
        display: flex;
        justify-content: center;
        width: 80px;
        height: 60px;
        border-radius: 50%;
    }
    .d-friendsList {
        width: 100%;
    }
    .p-userName{
        font-size: 1.2rem;
    }
    .img-user{
        width: 70%;
    }
    .p-userName{
        width: fit-content;
    }
    .p-userName:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .p-userName:active{
        transform: translateY(5px);
    }
    .img-user:hover{
        cursor: pointer;
        transform:none;
        transition: .5s;
    }
    .img-user:active{
        transform: translateY(5px);
    }
    .b-request{
        color: #E71F76;
        border: 2px #E71F76 solid;
        transition: .4s;
        font-family: 'Arial Rounded MT';
        background-color: #fff;
    }
    .b-request:hover{
        color: #E71F76;
        background-color: #fff;
        transition: .4s;
        cursor:pointer;
    }
    .b-request:active{
        transform: translateY(4px);
        background-color: #E71F76;
        color: #fff;
    }
}
