<div class="p-4" id="container-search">
    <div class="d-flex">
        <input type="text" name="input-search" id="input-search" placeholder="Escribe...">
        <button id="btn-search">
            <span class="material-icons">
                search
            </span>
        </button>
    </div>
    <div class="d-flex justify-content-center align-items-center" id="container-results">
        <div class="text-center">
            <span id="icon-add-group" class="material-icons">
                group_add
            </span>
            <p id="label">Encuentra más personas</p>
        </div>
    </div>
</div>