<div id="container-post" *ngFor="let post of posts; let i = index">
    <div class="p-4 d-flex align-items-center justify-content-between">
        <div class="d-flex" routerLink="/person" style="cursor: pointer;">
            <img 
            [src]="post.picture_profile"
            alt="profile-picture-friend"
            id="profile-picture-friend"
            class="img-fluid"
            >
            <p id="name">{{post.name}}</p>     
        </div>
        <div class="dropdown" *ngIf="isMine">
            <button type="button" id="dropdown-menu" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons">
                    more_vert
                </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                <li class="dropdown-item d-flex align-content-center"> 
                    <span class="material-icons mr-icon">
                    edit
                    </span>
                    Editar
                </li>
                <li class="dropdown-item d-flex align-content-center" (click)="deletePost(i)"> 
                    <span class="material-icons mr-icon">
                    delete_forever
                    </span>
                    Eliminar
                </li>
            </ul>
        </div>
    </div>
    <img 
    *ngIf="post.picture_post"
    [src]="post.picture_post" 
    alt="picture-post" 
    id="picture-post"
    >
    <p id="text-post">
        {{post.content}}
    </p>
    <div class="m-4 d-flex justify-content-between" id="container-down-butttons">
        <button class="flat-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Comentar
        </button>
        <div class="d-flex">
            <button class="flat-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                {{"Comentarios  "+post.comments_quantity}}
            </button>
            <button id="favorite-button" (click)="loved(i)">
                <span class="material-icons">
                    {{lovedPost.includes(i) || isLoved ? "favorite": "favorite_border"}}
                </span>
            </button>
        </div>
    </div>

</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <div class="modal-content" id="container-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Comentarios</h5>
        <button data-bs-dismiss="modal" aria-label="Close" id="btn-close">
            <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-3" id="container-comment" *ngFor="let comment of comments">
            <div class="d-flex align-items-center mb-2">
                <img [src]="comment.profile_picture" alt="picture-profile" id="profile-picture-comment">
                <p id="name-comment">{{comment.name}}</p>
            </div>
            <p id="body">{{comment.body}}</p>
        </div>
      </div>
      <form class="d-flex justify-content-center" id="container-input" (submit)="sendComment()">
        <input type="text" name="comment" id="input-comment" [formControl]="body" placeholder="Escribe un comentario...">
        <button id="btn-comment" type="submit" [disabled]="!body.valid">
            <span class="material-icons">
                send
            </span>
        </button>
      </form>
    </div>
  </div>
</div>