/* Material Icons Added */
@import 'material-icons/iconfont/material-icons.css';

/* Color variables */
:root{
    --purpleG: #3e2669;
    --blueG: #5c4e9a;
    --pinkG: #ED1f7F;
   
}

/* Background body */
body{
    background-color: rgb(245, 245, 245);
}

/*Fonts added*/
@font-face {
    font-family: 'Arial';
    src: url("/assets/fonts/arial.ttf");
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url("/assets/fonts/arial-rounded-mt.ttf");
}